.heading {
  color: var(--white);
  text-align: center;
  margin-bottom: 2rem;
}
.projects {
  margin: 0 auto 6rem;
  width: 90%;
  max-width: 1200px;
}

.projectWrapper {
  margin-bottom: 2rem;
}

.projectDetailsWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white);
  font-size: var(--heading-s);
  margin-bottom: 0.75rem;
}

.outline {
  color: var(--gray);
  margin-bottom: 1.75rem;
}
