.heading {
  color: var(--primary-light);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 8rem;
  font-size: var(--heading-m);
  display: flex;
  gap: 0.5rem;
}

.heading1 {
  color: var(--gray-medium-dark);
}
.heading2 {
  color: var(--white);
}
.projects {
  margin: 4rem auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectWrapper {
  width: 85%;
  max-width: 375px;
  margin-bottom: 10rem;
}

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.projects .projectWrapper:nth-of-type(2) .screenshots {
  flex-direction: column-reverse;
}

.projectDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: var(--white);
  font-size: var(--heading-s);
  margin-bottom: 0.75rem;
}

.outline {
  color: var(--gray);
  margin-bottom: 1.75rem;
  line-height: var(--line-height);
}

.projectLinkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

@media (hover: hover) {
  .projectLink:hover ~ .arrow {
    fill: var(--primary-light);
    transition: var(--transition);
  }
}

@media (max-width: 20em) {
  .heading {
    font-size: var(--heading-s);
  }
}

@media (min-width: 48em) {
  .heading {
    font-size: var(--heading-l);
  }
  .projectWrapper {
    max-width: 740px;
    margin-bottom: 14rem;
  }
  .screenshots {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .projects .projectWrapper:nth-of-type(2) .screenshots {
    flex-direction: row-reverse;
  }
}

@media (min-width: 75em) {
  .projectWrapper {
    max-width: 800px;
  }
}
