.tickerWrapper {
  display: flex;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 1.5rem;
  white-space: nowrap;
  font-family: var(--ff-body);
}

.tickerWrapper::before,
.tickerWrapper::after {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 5%;
  z-index: 2;
  top: 0;
}

.tickerWrapper::before {
  left: 0;
}

.tickerWrapper::after {
  right: 0;
  transform: rotateZ(180deg);
}

.tickerTrack {
  display: flex;
  animation: loop 20s linear infinite;
  animation-fill-mode: forwards;
}

.tickerItem {
  color: var(--gray);
  opacity: 0.8;
  font-size: var(--body-xs);
  margin-right: 1rem;
}

@media (min-width: 48em) {
  .tickerTrack:nth-child(2) {
    display: none;
  }

  .tickerWrapper {
    display: flex;
    overflow-x: unset;
    position: relative;
    margin-bottom: 2rem;
    white-space: nowrap;
  }

  .tickerWrapper::before,
  .tickerWrapper::after {
    display: none;
  }

  .tickerTrack {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    row-gap: 1rem;
    animation: unset;
  }

  .tickerItem {
    font-size: var(--body-s);
    font-weight: var(--fw-light);
  }
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
