.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.backgroundWrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main {
  width: 87.5%;
  margin: 15rem auto 1rem;
  position: relative;
  max-width: 400px;
}

.paragraph {
  color: var(--gray);
  font-family: var(--ff-body);
  font-size: var(--body-m);
  font-weight: var(--fw-light);
  line-height: var(--line-height);
  margin-bottom: 1rem;
}

.menuBar {
  width: 100%;
  height: 28px;
  background-color: var(--gray-medium-dark);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  position: relative;
}

.menuBarButton {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: white;
  margin-right: 0.3rem;
  position: relative;
  top: 0.7rem;
  left: 1rem;
}

.menuBarButton:nth-child(1) {
  background-color: #ff3b30;
}
.menuBarButton:nth-child(2) {
  background-color: #ffcc00;
}
.menuBarButton:nth-child(3) {
  background-color: #4cd964;
}

.screenshotContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.screenshotWrapper {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.screenshot {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: auto;
}

@media (min-width: 48em) {
  .backgroundWrapper,
  .background {
    display: block;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .main {
    max-width: 740px;
    margin-top: 17.5rem;
  }
  .descriptionContainer {
    gap: 4rem;
    flex-direction: row-reverse;
  }

  .menuBar {
    height: 32px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .menuBarButton {
    top: 0.8rem;
    left: 1.5rem;
  }

  .screenshotContainer {
    margin: 4rem 0;
  }

  .screenshotWrapper {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-bottom: 2rem;
    max-width: 562px;
    height: 330px;
  }

  .screenshot {
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@media (min-width: 64em) {
  .paragraph {
    font-size: var(--body-l);
  }
}
