.contactWrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto 15rem;
}

.subheading {
  color: var(--primary-light);
  font-family: var(--ff-heading);
}

.emailWrapper {
  display: inline-block;
}

.email {
  display: flex;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  width: 75px;
  height: 75px;
  transform: translateY(-20%);
  position: relative;
}

.image,
.image2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.image {
  opacity: 1;
  background-image: url(/assets/icon.webp);
  transition: opacity 400ms ease-in;
}

.image2 {
  background-image: url(/assets/icon2.webp);
  opacity: 0;
  transition: opacity 400ms ease-in;
  position: absolute;
  top: 0;
  left: 0;
}

.email:hover {
  color: var(--white);
}
.emailWrapper:hover .imageContainer > .imageWrapper > .image {
  opacity: 0;
}
.emailWrapper:hover .imageContainer > .imageWrapper > .image2 {
  opacity: 1;
}

.heading,
.email {
  color: var(--white);
  font-size: var(--h2-m);
  font-weight: var(--fw-medium);
  line-height: 3rem;
  margin-top: 0.75rem;
}

@media (min-width: 64em) {
  .heading,
  .email {
    font-size: var(--h2-l);
    margin-top: 1rem;
  }
}
