.contactWrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto 8.75rem;
}

.subheading {
  color: var(--primary-light);
}

.emailWrapper {
  display: inline-block;
}

@media (hover: hover) {
  .emailWrapper:hover .email,
  .emailWrapper:hover .contactArrow > g > line,
  .emailWrapper:hover .contactArrow > g > polyline {
    stroke: var(--primary-light);
    color: var(--primary-light);
    transition: var(--transition);
  }
}

.heading,
.email {
  color: var(--white);
  font-size: var(--h2-m);
  font-weight: var(--fw-medium);
  line-height: 3rem;
  margin-top: 1rem;
}

.contactArrow {
  width: 50px;
  height: 50px;
  transform: translateY(30%);
}

@media (min-width: 64em) {
  .heading,
  .email {
    font-size: var(--h2-l);
    line-height: 2rem;
  }

  .contactArrow {
    width: 60px;
    height: 60px;
  }
}
