.footer {
  width: 87.5%;
  margin: 0 auto 1rem;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footerLink {
  color: var(--gray);
  text-align: center;
  font-weight: var(--fw-light);
}

.iconsContainer {
  display: flex;
  gap: 0.75rem;
}

.iconWrapper {
  height: 48px;
  width: 48px;
  padding: 10px;
}

@media (hover: hover) {
  .icon:hover {
    fill: var(--primary-light);
    transition: var(--transition);
  }
}

@media (min-width: 48em) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }

  .iconsContainer {
    display: flex;
    gap: 0.625rem;
  }

  .iconWrapper {
    height: 25px;
    width: 25px;
    padding: 0;
  }
}
